name: Publish
on: 
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: docker build . -t lgohr/gron-docker:${{ github.sha }} -t lgohr/gron-docker:latest
    - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - run: |
        docker push lgohr/gron-docker:${{ github.sha }}
        docker push lgohr/gron-docker:latest
    - run: docker logout
